/* Stylesheet for Lab 3 Part A */
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Open+Sans&display=swap');


body {
    background-color: antiquewhite;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    font-size: larger;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
}

h1 {
    text-align: center;
    font-family: 'Mate SC', serif;
}

.excerpt {
    font-style: italic;
    padding: 20px;
    font-size: large;
    margin-left: 15%;
    margin-right: 15%;
}

figure {
    width: 200px;
}

figure.left {
    float: inline-start;
}

figure.right {
    float: inline-end;
}

figcaption {
    word-wrap: normal;
    font-weight: bold;
}

img {
    width: 200px;
    height: auto;
    transform: scale();
}

img:hover {
    scale: 300%;
    height: auto;
    z-index: 2;
    position: relative;
}

span.first-letter {
    font-size: xx-large;
    font-family: 'Mate SC', serif;
    color: brown;
}

a:hover {
    font-size: x-large;
    color: brown;
}

div.link {
    font-size: medium;
    padding-top: 10px;
}

